In [6]:
# Load environment variables

from dotenv import load_dotenv,find_dotenv

load_dotenv(find_dotenv())

True

In [1]:
# Run basic query with OpenAI wrapper 
from langchain.llms import OpenAI 
from langchain import HuggingFaceHub
#llm = OpenAI(model_name="text-davinci-003") 
llm = HuggingFaceHub(repo_id="OpenAssistant/oasst-sft-4-pythia-12b-epoch-3.5")
llm("<|prompter|>podrias revisar una base de datos y darme un top de 10 mejores cosas?<|endoftext|><|assistant|>")

ModuleNotFoundError: No module named 'langchain'

# NETFLIX
### Datos generales

In [2]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
netflix_overall=pd.read_csv("practica_data/netflix_titles.csv")
netflix_overall_sorted = netflix_overall.sort_values(by='imdb_score', ascending=False)
netflix_overall_sorted.head(10)

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score
2658,ts265844,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,[],[],1.0,tt12635254,9.6,7.0,NaN,NaN
216,ts4,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,"['drama', 'crime', 'thriller']",['US'],5.0,tt0903747,9.5,1775990.0,353.848,8.790
564,ts160526,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,19,['reality'],[],11.0,tt3062514,9.5,3115.0,NaN,NaN
3147,ts85398,Our Planet,SHOW,Experience our planet's natural beauty and exa...,2019,TV-G,50,['documentation'],['GB'],1.0,tt9253866,9.3,42259.0,19.942,8.800
233,ts3371,Avatar: The Last Airbender,SHOW,"In a war-torn world of elemental magic, a youn...",2005,TV-Y7,24,"['scifi', 'animation', 'action', 'family', 'fa...",['US'],3.0,tt0417299,9.3,303666.0,56.915,8.700
1258,ts37660,Reply 1988,SHOW,A nostalgic trip back to the late 1980s throug...,2015,TV-14,92,"['comedy', 'drama', 'family', 'romance']",['KR'],1.0,tt5182866,9.2,6718.0,18.370,8.700
3068,ts81120,The Last Dance,SHOW,A 10-part documentary chronicling the untold s...,2020,TV-MA,50,"['documentation', 'history', 'sport']",['US'],1.0,tt8420184,9.1,115915.0,27.702,8.200
1092,tm250247,Chhota Bheem & Krishna vs Zimbara,MOVIE,Chhota Bheem Aur Krishna vs Zimbara is an Indi...,2013,G,64,['animation'],[],NaN,tt6417984,9.1,16.0,1.442,NaN
4771,tm996762,Major,MOVIE,Based on the life of real-life Hero Major Sand...,2022,NaN,149,"['action', 'drama']",['IN'],NaN,tt9851854,9.1,7576.0,6.429,8.188
3500,ts90621,Kota Factory,SHOW,"Dedicated to Shrimati SL Loney ji, Shri Irodov...",2019,TV-MA,39,"['drama', 'comedy']",['IN'],2.0,tt9432978,9.1,69316.0,9.584,8.300

# DISNEY
### Datos generales

In [9]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
disney_overall=pd.read_csv("practica_data/disney_plus_titles.csv")
disney_overall.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

# HULU
### Datos generales

In [10]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
hulu_overall=pd.read_csv("practica_data/hulu_titles.csv")
hulu_overall.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

# PRIME VIDEO
### Datos generales

In [1]:
import numpy as np # linear algebra
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
prime_video_overall=pd.read_csv("practica_data/amazon_prime_titles.csv")
prime_video_overall.head()

ModuleNotFoundError: No module named 'numpy'